$primary: #6650a0;
$primary-active: #7e67bf;

$secondary: #f2c872;
$element-background: #333;
$global-background: #FBFAFB;

$text: #333;
$text-active: #6650a0;
$secondary-text: #FFF;

$border: #333;
$border-active: #383838;