@charset "UTF-8";
html, body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 1.3rem;
  margin: 0.3rem 0 0;
}
@media (min-width: 768px) {
  h1 {
    font-size: 1.2rem;
  }
}

h2 {
  color: red;
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0 0 0.3rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 1rem;
  }
}

button {
  cursor: pointer;
}

button.primary-btn {
  background: #f2c872;
  font-weight: bold;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

a, button {
  transition: all 0.3s;
}

.overlay {
  background: rgba(51, 51, 51, 0.7);
  height: 100%;
  overflow: hidden;
  left: 0;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  width: 100%;
  will-change: opacity;
  z-index: 3;
  display: none;
}
.overlay.active {
  display: block;
}

html, body {
  margin: 0;
  height: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
}

.sidebar {
  font-weight: 400;
  left: -300px;
  position: fixed;
  transition: all 0.3s;
  -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
@media (min-width: 768px) {
  .sidebar {
    background: #6650a0;
    display: block;
    flex: 0 0 14rem;
    left: 0;
    position: relative;
  }
}
.sidebar a {
  color: #333;
  text-decoration: none;
}
@media (min-width: 768px) {
  .sidebar a {
    font-size: 0.9rem;
  }
}
.sidebar .fas {
  color: #f2c872;
}
.sidebar.mobile-active {
  background: #6650a0;
  display: block;
  height: 100%;
  top: 0;
  transition: 0.3s all;
  width: calc(100vw - 80px);
  z-index: 4;
  left: 0;
}
.sidebar.mobile-active .logo {
  display: none;
}
@media (min-width: 768px) {
  .sidebar.hidden {
    left: -300px;
    display: none;
  }
}
.sidebar .m-level-2 a:active, .sidebar .m-level-2 a:hover, .sidebar .m-level-2 a:focus {
  color: #6650a0;
  font-weight: bold;
}
.sidebar .logo {
  background: #6650a0;
  text-align: center;
  font-family: "Berkshire Swash", cursive;
  font-size: 2rem;
  color: #FFF;
}
@media (min-width: 768px) {
  .sidebar .logo {
    padding: 0.9rem 1rem 0.65rem;
  }
}

.sidebar__nav-item {
  align-items: center;
  background: #7e67bf;
  padding: 1.3rem 1rem;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .sidebar__nav-item {
    padding: 0.8rem 1rem;
    border-bottom: 1px #333 solid;
  }
  .sidebar__nav-item a {
    font-size: 0.8rem;
  }
}

.hamburger {
  align-items: center;
  background: #6650a0;
  box-sizing: border-box;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
.hamburger i.fas {
  font-size: 1.4rem;
}
.hamburger .hamburger__ic-menu {
  order: 1;
}
.hamburger .hamburger__logo {
  order: 2;
  font-family: "Berkshire Swash", cursive;
  font-size: 2rem;
  color: #FFF;
}
.hamburger .hamburger__view-mode {
  align-self: center;
  order: 3;
}

.nav-menu__item {
  border-bottom: 1px #333 solid;
  font-size: 1.2rem;
  position: relative;
}
.nav-menu__item a {
  display: block;
  padding: 1.5rem;
}
.nav-menu__item i {
  margin-right: 0.7rem;
}
.nav-menu__item .m-level-2 {
  border-bottom: none;
  display: none;
  font-weight: 300;
  transition: all 0.4s;
}

.nav-menu__sub li:first-child a {
  padding: 0.5rem 1.5rem;
}

.nav-menu__item--opened {
  background: #7e67bf;
}
.nav-menu__item--opened .m-level-2 {
  display: block;
}

.nav-menu__item.m-parent::after {
  color: #FFF;
  content: "";
  font-family: FontAwesome;
  position: absolute;
  right: 1rem;
  top: 1.6rem;
  transition: all 0.4s;
}
@media (min-width: 768px) {
  .nav-menu__item.m-parent::after {
    font-size: 0.8rem;
    top: 1.8rem;
  }
}
.nav-menu__item.m-parent.nav-menu__item--opened::after {
  display: block;
  transform: rotate(180deg);
}

body {
  color: #333;
}
@media (min-width: 768px) {
  body {
    display: flex;
    flex-flow: row wrap;
  }
}

main {
  background: #FBFAFB;
}
@media (min-width: 768px) {
  main {
    flex: 1;
  }
}

footer {
  background: #f2c872;
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
}
@media (min-width: 768px) {
  footer {
    flex: 1 100%;
  }
}

.header__top {
  background: #6650a0;
  display: none;
  justify-content: space-between;
  padding: 1rem;
}
@media (min-width: 768px) {
  .header__top {
    display: flex;
    padding: 1.4rem 1rem;
  }
}
.header__top div[class^=btn-] {
  cursor: pointer;
}
.header__top .btn-collapse {
  color: #FFF;
  padding: 0 1rem 0 0.5rem;
  transition: all 0.3s;
}
.header__top .btn-collapse.active {
  transform: rotate(180deg);
}

.dashboard-body {
  margin-top: 4rem;
  padding: 1.5rem 0.6rem;
}
.dashboard-body h1, .dashboard-body h2 {
  padding: 0 0 1rem;
}
@media (min-width: 768px) {
  .dashboard-body {
    margin-top: 0;
    padding: 1.5rem;
  }
}

#notification-templates {
  background: #FBFAFB;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}

.ctn-options {
  background: #6650a0;
  border-top: 1px #333 solid;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  left: 0;
  padding: 0.7rem 1rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}
@media (min-width: 768px) {
  .ctn-options {
    background: transparent;
    border-top: none;
    margin-top: 1rem;
    padding: 0.7rem 1rem 0.7rem 1.5rem;
    position: relative;
  }
}

.ctn-options__button {
  color: #333;
  border-radius: 0.3rem;
  background: #333;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .ctn-options__button {
    padding: 0.5rem 1rem;
  }
}
.ctn-options__button:hover {
  background: #333;
}

.ctn-options__button.primary-btn {
  margin-left: 0.6rem;
}
.ctn-options__button.primary-btn:hover {
  background: rgba(242, 200, 114, 0.7);
}

.search-bar {
  background: #6650a0;
  border: 1px #333 solid;
  position: absolute;
  padding: 0.3rem 0 0.3rem 0.3rem;
  left: 1rem;
}
@media (min-width: 768px) {
  .search-bar {
    border-radius: 0.2rem;
    left: 1.5rem;
    padding: 0.4rem;
    width: 15rem;
  }
}
.search-bar.active, .search-bar.focus {
  width: calc(100% - 38px);
}
.search-bar.active .search-bar__field, .search-bar.focus .search-bar__field {
  width: 100%;
}
.search-bar form {
  align-items: center;
  display: flex;
}
.search-bar i.fas {
  color: #333;
  font-size: 1.4rem;
  margin-right: 0.4rem;
}
@media (min-width: 768px) {
  .search-bar i.fas {
    font-size: 1rem;
    color: #333;
  }
}
.search-bar .search-bar__field {
  background: transparent;
  border: 0;
  color: #333;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 0;
  width: 0;
  transition: all 0.5s;
}
@media (min-width: 768px) {
  .search-bar .search-bar__field {
    font-size: 0.8rem;
    width: 100%;
  }
}

.templates-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .templates-list {
    padding: 0 1.5rem;
  }
}

.change-view-mode {
  cursor: pointer;
  color: #FFF;
}

/*# sourceMappingURL=main.css.map */
